* {
  padding: 0;
  margin: 0;
}

.backgroundVideo {
  position: absolute;
  right: 0;
  bottom: 0;
}

.main::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: rgba(0, 0, 0, 0.7);
}

@media (min-aspect-ratio: 16/9) {
  .backgroundVideo {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .backgroundVideo {
    width: auto;
    height: 100%;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
  }
}

.helloTextContainer {
  position: absolute;
  top: 43%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.footer {
  display: flex;
  justify-content: left;
}

.footer a {
  text-decoration: none;
  color: white;
  padding-top: 25px;
  padding-right: 15px;
}


.nameText {
  font-weight: 1200;
  font-size: 3.75rem;
  line-height: 1.25;
  color: white;
  font-family: sans-serif;
}

#blueNameText {
  font-weight: 1200;
  font-size: 3.75rem;
  line-height: 1.25;
  font-family: sans-serif;
  color: rgb(44, 181, 242);
}

#descriptionText {
  font-weight: 450;
  font-size: 1.25rem;
  margin-top: 2vh;
  line-height: 1.25;
  font-family: sans-serif;
  color: white;
}

#smallPurpleText {
  font-weight: 450;
  font-size: 1.25rem;
  line-height: 1.25;
  font-family: sans-serif;
  color: rgb(44, 181, 242);
}

.navigationBarContainer ul {
  list-style-type: none;
}

.navigationBarContainer li {
  float: right;
  padding-right: 12px;
  padding-top: 12px;
  padding: 12px;
  opacity: 0.6;
  transition: 0.3s;
  background-color: rgb(44, 181, 242, 0);
}

.navigationBarContainer li:hover {
  opacity: 1;
  background-color: rgb(44, 181, 242, 0.3);
}

.navigationBarContainer a {
  text-decoration: none;
  display: inline-block;
  font-size: 1.25rem;
  font-family: sans-serif;
  font-weight: 450;
  color: white;
  z-index: 1;
}